<div class="row bord" style="padding:20px;">
    <div class="col">
        <h2>Add Product</h2>
    </div>
</div>

<div class="row bord" style="padding:20px;">
    <div class="col">
        <form>
          <div class="alert alert-warning" id="feed" role="alert" style="display: none;">
            Loading...
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="productid">Product ID</label>
                <input type="text" class="form-control" id="productid" placeholder="Product Id">
              </div>
              <div class="form-group col-md-6">
                <label for="Brand">Brand</label>
                <input type="text" class="form-control" id="Brand" placeholder="Brand">
              </div>
            </div>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity">
              </div>
           
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="costprice">Cost price</label>
                  <input type="text" class="form-control" id="costprice" placeholder="Cost Price">
                </div>
                <div class="form-group col-md-6">
                  <label for="sellprice">Sell Price</label>
                  <input type="text" class="form-control" id="sellprice" placeholder="Sell price">
                </div>
              </div>
            
            <button type="button" id="addPro" class="btn btn-primary">Add Product</button>
          </form>
    </div>
</div>

<script>
  $("#addPro").click(()=>{
    $("#feed").removeClass("alert-success").slideUp();
    if($("#productid").val().length == 0){
      $("#feed").html("<strong>Please Enter Product Id</strong>").slideDown();
      return;
    }
    var pid = $("#productid").val();

    if($("#Brand").val().length == 0){
      $("#feed").html("<strong>Please Enter Brand</strong>").slideDown();
      return;
    }
    var brand = $("#Brand").val();

    if($("#productName").val().length == 0){
      $("#feed").html("<strong>Please Enter Product Name</strong>").slideDown();
      return;
    }
    var pname = $("#productName").val();

    if($("#quantity").val().length == 0){
      $("#feed").html("<strong>Please Enter Quantity</strong>").slideDown();
      return;
    }
    var quantity = $("#quantity").val();

    if($("#costprice").val().length == 0){
      $("#feed").html("<strong>Please Enter Cost Price</strong>").slideDown();
      return;
    }
    var costp = $("#costprice").val();

    if($("#sellprice").val().length == 0){
      $("#feed").html("<strong>Please Enter Sell Price</strong>").slideDown();
      return;
    }
    var sellp=$("#sellprice").val();
    var data = {
      "id":pid,
      "brand":brand,
      "pname":pname,
      "quantity":quantity,
      "cost_price":costp,
      "sell_price":sellp
    }
    $("#feed").html("<strong>Loading....</strong>").removeClass("alert-success").addClass("alert-warning").slideDown();
    $.post("/addProduct",data,(data)=>{
      if(data == 1){
        $("#feed").html("<strong>Product Added Successfully</strong>").removeClass("alert-warning").addClass("alert-success");
      }else{
        $("#feed").html("<strong>Product could not be added</strong>");
      }
    });
  });
</script>