<div class="row bord" style="padding:20px;">
    <div class="col">
        <h2>Add Product</h2>
    </div>
</div>

<div class="row bord" style="padding:20px;">
    <div class="col">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="productid">Product ID</label>
                <input type="text" class="form-control" id="productid" placeholder="Product Id">
              </div>
              <div class="form-group col-md-6">
                <label for="Brand">Brand</label>
                <input type="text" class="form-control" id="Brand" placeholder="Brand">
              </div>
            </div>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity">
              </div>
           
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="costprice">Cost price</label>
                  <input type="text" class="form-control" id="costprice" placeholder="Cost Price">
                </div>
                <div class="form-group col-md-6">
                  <label for="sellprice">Sell Price</label>
                  <input type="text" class="form-control" id="sellprice" placeholder="Sell price">
                </div>
              </div>
            
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
    </div>
</div>