<html>
    <head>
        

<link href="style.css"  rel="stylesheet" >

<link href="/node/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet" >

<title>Inventory Mangement</title>
    </head>
    
<body>
<div class="container-fluid heading">
    <div class="row">
        <div class="col">
            <h1>Inventory</h1>
        </div>
    </div>
</div>
<div class="container-fluid main">
        <div class="row side-bar-h" >
            <div class="col-2 bord side-bar " >
                <div class="products row side-item side-active">
                    <div class="text-center col">
                    <h3>Products</h3>
                    </div>
                </div>

                <div class="addproduct row side-item">
                    <div class="text-center col">
                    <h3>Add Product</h3>
                    </div>
                </div>

                <div class=" sales row side-item">
                    <div class="text-center col">
                    <h3>Sales Details</h3>
                    </div>
                </div>


                
            </div>
            <div class="col">

                <div class="row bord panel" style="display: none;color:white;">
                    <div class="col">
                        <button type="button" class="gpdf btn btn-primary">Generate PDF</button>
                        <button type="button" class="gexcel btn btn-warning">Generate Excel Sheet</button>
                    </div>
                </div>
                <div class="row  ">
                    <div class="col table-prod">
                        <h4>Loading.....</h4>
                    </div> 
                    
                </div>
            </div>
        </div>
</div>














<script src="/node/jquery/dist/jquery.min.js"   ></script>
<script src="/node/popper.js/dist/popper.min.js"   ></script>
<script src="/node/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/node/chart.js/dist/chart.min.js" ></script>

<script>
    function updateSide(){
        $(".side-bar-h").css("height",$(window).height());
    }




    $(".heading").hide();
    $(".main").hide();

    $(document).ready(()=>{

        $(".gpdf").click(function(){
            window.location = "/report"
        });
        $(".gexcel").click(function(){
           window.location = "/excel";
        });
        updateSide();
        $(".heading").fadeIn("slow");
        $(".main").fadeIn("slow");
       
        $.get("/getAllProducts",function(data){

            $(".table-prod").fadeIn().html(data);
      
            
        });

        $(".products").click(function(){
            $(".panel").hide();
            $(".products").addClass("side-active");
            $(".addproduct").removeClass("side-active");
           
              $(".sales").removeClass("side-active");
            $(".table-prod").html(" <h4>Loading.....</h4>");
            $.get("/getAllProducts",function(data){

                $(".table-prod").fadeIn().html(data);
        
                
            });
           
            $(this).addClass("side-active");
        });


        $(".sales").click(()=>{
            $(".panel").fadeIn();

            $(".addproduct").removeClass("side-active");
             $(".products").removeClass("side-active");
              $(".sales").addClass("side-active");
             $(".table-prod").html(" <h4>Loading.....</h4>");
             $.get("/sales",function(data){
 
                 $(".table-prod").fadeIn().html(data);
                
                 
             });
            
             
        });


        $(".addproduct").click(()=>{
            $(".panel").hide();
            $(".addproduct").addClass("side-active");
             $(".products").removeClass("side-active");
              $(".sales").removeClass("side-active");
             $(".table-prod").html(" <h4>Loading.....</h4>");
             $.get("/addProduct",function(data){
 
                 $(".table-prod").fadeIn().html(data);
               
                 
             });
            
             
        });



    });

 
</script>





</body>

</html>








