<link href="style.css"  rel="stylesheet" >

<link href="/node/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet" >


<h1 class="text-primary">Hi </h1>


<script src="/node/jquery/dist/jquery.min.js"   ></script>
<script src="/node/popper.js/dist/popper.min.js"   ></script>
<script src="/node/bootstrap/dist/js/bootstrap.min.js" ></script>
