<style>
    .tr{
        padding: 10px;
    }
    .pdName{
    cursor:pointer;
    }
</style>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td >Johnnie Walker</td>
        <td>Whiskey</td>
        <td>Black Label</td>

        <td>
            <div class="progress" style="height: 20px; ">
                <div class="progress-bar"  role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25</div>
              </div>

        </td>
        <td>$200</td>
        <td>$210</td>
        <td><button type="button" class="btn btn-primary" data-target="#EditModal" data-toggle="modal" >Edit</button></td>
        
        <td><button type="button" class="btn btn-primary" data-target="#SoldModal" data-toggle="modal" >Sold</button></td>
        <td><button type="button" class="btn btn-danger" data-target="#DeleteModal" data-toggle="modal">Delete</button></td>
    </tr>

 


     
    </tbody>
  </table>

  <div id="DeleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  
  <div id="SoldModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sold</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="soldquantity">Quantity</label>
            <input type="number" class="form-control" id="soldquantity" placeholder="Quantity">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Sold</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div id="EditModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="productid">Product ID</label>
                <input type="text" class="form-control" id="productid"  value=1 disabled>
              </div>
              <div class="form-group col-md-6">
                <label for="Brand">Brand</label>
                <input type="text" class="form-control" id="Brand" value="Johnnie walker" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" value="Black label" disabled>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity">
              </div>
           
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="costprice">Cost price</label>
                  <input type="text" class="form-control" id="costprice" placeholder="Old Cost Price was ">
                </div>
                <div class="form-group col-md-6">
                  <label for="sellprice">Sell Price</label>
                  <input type="text" class="form-control" id="sellprice" placeholder="Old Sell price was ">
                </div>
              </div>
            
          
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Edit Product</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  