
<link href="/node/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet" >

<table class="table" >
    <thead>
        <h1>Sales Report</h1>
    </thead>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">Product Id</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Sales($)</th>
       
      </tr>
    </thead>
    <tbody>
     <tr>
        <td>1</td>
        <td>20-12-2020</td>
        <td>1</td>
        <td>15</td>
        <td>20$</td>
    </tr>

    <tr>
        <td>1</td>
        <td>20-12-2020</td>
        <td>1</td>
        <td>15</td>
        <td>20$</td>
    </tr>
    <tr>
        <td>1</td>
        <td>20-12-2020</td>
        <td>1</td>
        <td>15</td>
        <td>20$</td>
    </tr>
     
    </tbody>
  </table>
<div class="row">
    <dic class="col ">
        <h1 class="float-right">Total : $20</h1>
    </div>
</div>


<script src="/node/jquery/dist/jquery.min.js"   ></script>
<script src="/node/popper.js/dist/popper.min.js"   ></script>
<script src="/node/bootstrap/dist/js/bootstrap.min.js" ></script>