
<div id="ldata" label= "<%= data[0] %>"></div>
<div id="lvalues" label= "<%= data[1] %>"></div>
<canvas id="myChart" width="500px" height="500px" ></canvas>
<script>
 
   


    var ctx = $("#myChart");
    var label= $("#ldata").attr("label").split(",");
    var values= $("#lvalues").attr("label").split(",");
   // console.log(label);

    function getRandomColor() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
    var colors=[]
    for(var i=0;i<label.length;i++){
        colors.push(getRandomColor());
    }
    //console.log(colors);
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: label,
            datasets: [{
                label: 'Sales Report',
                data: values,
                backgroundColor: colors,
                borderColor: colors,
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                   
                    type:'linear',
                    grace:'5%'
                }
            }
        }
    });
   
</script>
